* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: beige;
}

body {
  font-family: "Roboto Slab", "Finlandica", sans-serif, serif;
}

Canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.main {
  width: calc(100% - 40px);
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 7vmin;
  line-height: 0.75;
  width: 15em;
  text-transform: uppercase;
}

section:nth-child(even) {
  justify-content: flex-end;
}

.presentation {
  position: absolute;
  top: 25vh;
  margin-left: 1em;
  width: 100%;
}

.presentation__text {
  position: absolute;
  top: 35vh;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: end;
  align-items: center;
  text-align: justify;
  line-height: 0.6em;
  letter-spacing: 0.025em;
  font-size: 0.75em;
}

.presentation__logo {
  max-width: 100%;
  /* margin: 0.5em; */
  /* for picture*/
  transform: scale(0.4);
  border-radius: 0.5em;
}

.presentation__title,
.portfolio__title {
  font-size: 0.7em;
  margin-top: 0.5em;
}

.portfolio {
  position: absolute;
  top: 120vh;
  /* transform: translateX(100%); */
  text-align: right;
  margin: 0;
  margin-left: -0em;
  width: 100%;
}

.portfolio__title {
  text-align: right;
}

.contact {
  position: absolute;
  top: 230vh;
  margin: 0;
  margin-left: 1em;
}

/* PHONE */

@media screen and (max-width: 650px) {
  .coneRef {
    left: -30vw;
  }
}
