* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: beige;
}

body {
  font-family: "Roboto Slab", "Finlandica", sans-serif, serif;
}

Canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.main {
  width: calc(100% - 40px);
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 7vmin;
  line-height: 0.75;
  width: 15em;
  text-transform: uppercase;
}

section:nth-child(even) {
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: beige;
  transition: ease 1s;
}

a:hover {
  color: orange;
  transition: ease 1s;
}

.presentation,
.portfolio {
  position: absolute;
  top: 25vh;
  margin-left: 1em;
  width: 100%;
}

.presentation__text {
  position: absolute;
  top: 35vh;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1em;
  row-gap: 1em;
  justify-items: end;
  align-items: center;
  text-align: justify;
  line-height: 1em;
  font-size: 0.4em;
}

.presentation__logo {
  max-width: 100%;
  /* for picture*/
  transform: scale(0.4);
  border-radius: 0.5em;
}

.presentation__title,
.portfolio__title,
.project__title,
.client__title {
  font-size: 0.7em;
  margin-top: 0.5em;
  line-height: 1em;
}

.portfolio {
  top: 120vh;
  text-align: right;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 2em 0;
  column-gap: 1em;
  row-gap: 1em;
  text-align: left;
}

.project__img {
  max-width: 100%;
  border-radius: 0.5em;
  width: 3em;
  height: 2.5em;
}

.project__text {
  line-height: 1em;
  font-size: 0.3em;
  margin-top: 1em;
}

.contact {
  position: absolute;
  top: 320vh;
  margin: 0;
  margin-left: 1em;
}

.contact__form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.5em;
  column-gap: 0.5em;
  margin-top: 2em;
  width: 5em;
  font-size: 0.6em;
}

input,
textarea,
.contact__btn {
  color: beige;
  background-color: transparent;
  border: 1px solid beige;
  border-radius: 0.5em;
  height: 2.75em;
  width: 40em;
}

.contact__btn:hover {
  background-color: beige;
  color: black;
}

/* PHONE */

@media screen and (max-width: 650px) {
  .coneRef {
    left: -30vw;
  }
}
